* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.el-table .cell{
    padding: 0 !important; 
}
body {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
}
.card {
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}